html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: -0.015em;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;
}
.h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

a {
  color: #212121;
}

.logo > span {
  color: #2196f3;
}
.container {
  padding-top: 0;
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  margin-right: 85px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  text-decoration: none;
}
.main-nav,
.auth-nav {
  align-items: center;
}
.main-nav {
  display: flex;
}
.site-nav {
  display: flex;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  text-decoration: none;
}
.site-nav {
  list-style: none;
}
.site-nav .hyper {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
}
.site-nav .hyper:hover,
.site-nav .hyper:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
}
.auth-nav {
  margin-left: auto;
}
.auth-nav .link.link:not(:last-child) {
  margin-right: 50px;
}
.button {
  text-decoration: none;
}
.auth-nav .button:hover,
.auth-nav .button:focus {
  color: var(--accent-color);
}

.list-works {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 99px;
  margin-bottom: 56px;
  list-style: none;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}
.work-container .work-list {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 94px;
}

.list-works:hover,
.list-works:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-style: normal;
  list-style: none;
}
.work-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-list .image {
  width: 370px;
}

.work-list .item:nth-child(3n) {
  margin-right: 0px;
}
.work-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.footer .adress {
  display: block;
  width: 231px;
}
.footer {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  background-color: #2f303a;
}
.footer-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: baseline;
}

.item .logo .text {
  color: var(--secondary-text-color);
}

.adress .text {
  margin-top: 8px;
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.adress .version {
  margin-bottom: 9px;
  margin-top: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.copy {
  text-align: center;
}
.adress .version:hover,
.adress .version:focus {
  color: var(--accent-color);
}

.go {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-site .item:not(:last-child) {
  margin-right: 10px;
}
.social-site {
  display: flex;
}
.social-site .item {
  list-style: none;
}
.social-site .link-social {
  text-decoration: none;
}

.news {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.link-social:hover,
.link-social:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.footer .copy {
  justify-content: center;
}
/*студио*/

.hero {
  text-align: center;
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.proposition {
  display: flex;

  list-style: none;
}
.proposition .item:not(:last-child) {
  margin-right: 30px;
}
.proposition-img:hover,
.proposition-img:focus {
  color: var(--accent-color);
}
.item-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-proposition {
  margin-top: 30px;
  margin-bottom: 10px;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.proposition-text {
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.works-list {
  display: flex;

  list-style: none;
}
.item-hover:hover,
.item-hover:focus {
  background-color: var(--accent-color);

  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.item .content {
  width: 322px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
}
.works-list .item:not(:last-child) {
  margin-right: 30px;
}
.main-works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-main-works {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.type-works {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.teams {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.name-teams {
  margin-left: 0;
  margin-top: 0px;
  display: flex;

  list-style: none;
  text-align: center;
}
.name-teams .item:not(:last-child) {
  margin-right: 30px;
}
.name-teams .image {
  margin-bottom: 30px;
}
.name-teams h3 {
  margin-bottom: 10px;
}
.our-teams {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.teams-site {
  display: flex;
  text-align: center;

  padding-left: 0px;
  margin-top: 28px;
  list-style: none;
}
.teams-site.item:not(:last-child) {
  margin-right: 10px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.teams-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-text-color);
}
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.clients.list:hover,
.clients.list:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.clients-list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.clients-list .list:not(:last-child) {
  margin-right: 30px;
}
.clients-list a {
  text-decoration: none;
}
